include ../blocks/head.pug
+head('html-server')
include ../blocks/body.pug
  main
    section.error
      h1.error__title 500
      h2.error__subtitle Ошибка cервера
      ul.error__list
        li.error__item
          a(href="sign-up.html") Вход и регистрация
        li.error__item
          a(href="new-ticket.html") Новая публикация
        li.error__item
          a(href="main.html") Главная страница
      form.error__search.search.search--small(method="get" action="#" autocomplete="off")
        input(type="search" name="search" placeholder="Поиск" aria-label="Поиск")
        .search__icon
        .search__close-btn
      a(href="main.html").error__logo.logo
        img(src="img/logo.svg" width="179" height="34" alt="Логотип Куплю Продам")
