extends ../blocks/layout.pug
block main
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a(href="#").tickets-list__btn.btn.btn--big
          span Новая публикация
      ul
        each offer in offers
          include ../blocks/card.pug
          +card(offer)
