extends ../blocks/layout.pug
block main
  section.search-results
    h1.visually-hidden Результаты поиска
    .search-results__wrapper
      p.search-results__label Найдено
       span.js-results #{` ${results.length}`} публикации
      ul.search-results__list
        each result in results
          include ../blocks/card.pug
          +card(result)
