extends ../blocks/layout.pug
block main
  section.ticket-form
    .ticket-form__wrapper
      h1.ticket-form__title Новая публикация
      .ticket-form__tile
        form(action="#" method="post" enctype="multipart/form-data" autocomplete="off").ticket-form__form.form
          .ticket-form__avatar-container.js-preview-container
            .ticket-form__avatar.js-preview
            .ticket-form__field-avatar
              input(type="file" id="avatar" name="avatar").visually-hidden.js-file-field
              label(for="avatar")
                span.ticket-form__text-upload Загрузить фото…
                span.ticket-form__text-another Загрузить другое фото…
          .ticket-form__content
            .ticket-form__row
              .form__field
                input(type="text" name="ticket-name" id="ticket-name" required="").js-field
                label(for="ticket-name") Название
                span Обязательное поле
            .ticket-form__row
              .form__field
                textarea(name="comment" id="comment-field" cols="30" rows="10" maxlength="400" minlength="50").js-field
                label(for="comment-field") Описание
                span Обязательное поле
            .ticket-form__row
              select(name="category" id="category-field" data-label="Выбрать категорию публикации").form__select.js-multiple-select
                option(value="1") Дом
                option(value="2") Спорт и отдых
                option(value="3") Авто
                option(value="4") Электроника
            .ticket-form__row
              .form__field.form__field--price
                input(type="number" name="price" id="price-field" min="1" required="").js-field.js-price
                label(for="price-field") Цена
                span Обязательное поле
              .form__switch.switch
                .switch__item
                  input(type="radio" id="buy-field" name="action" value="buy").visually-hidden
                  label(for="buy-field").switch__button Куплю
                .switch__item
                  input(type="radio" id="sell-field" name="action" value="sell").visually-hidden
                  label(for="sell-field").switch__button Продам
          button(type="submit" disabled="").form__button.btn.btn--medium.js-button Опубликовать
