extends ./blocks/layout.pug
block main
  include ./blocks/categories.pug
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самое свежее
      ul
        each think in mostNew
          include ./blocks/card.pug
          +card(think)
  section.tickets-list
    h2.visually-hidden Самые обсуждаемые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самые обсуждаемые
      ul
        each think in mostDiscuss
          include ./blocks/card.pug
          +card(think)
