extends ./blocks/layout.pug
block main
  include ./blocks/categories.pug
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самое свежее
      ul
        each offer in offers
          include ./blocks/card.pug
          +card(offer)
