mixin comment(comment)
  li.js-card
    .comment-card
      .comment-card__header
        a(href="#").comment-card__avatar.avatar
          img(src='/img/avatar03.jpg' alt="Аватар пользователя")
        p.comment-card__author Александр Бурый
      .comment-card__content
        p #{comment.text}
      button(type="button").comment-card__delete.js-delete Удалить
