footer.page-footer
  .page-footer__wrapper
    .page-footer__col
      a(href="#" aria-label="Ссылка на сайт HTML-Академии").page-footer__logo-academy
        svg(width="132" height="46")
          use(xlink:href="/img/sprite_auto.svg#logo-htmlac")
      p.page-footer__copyright © 2019 Проект Академии
    .page-footer__col
      a(href="#").page-footer__logo
        img(src="/img/logo.svg" width="179" height="35" alt="Логотип Куплю Продам")
    .page-footer__col
      ul.page-footer__nav
        li
          a(href="sign-up.html") Вход и регистрация
